
#container {
    border: 3px solid black;
    aspect-ratio: 1 / 1;
    width: 660px;
    display: flex;
    flex-wrap: wrap;
}

.gridbox {
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 1px solid black;
}