body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#instruction {
    font-size: x-large;
    font-weight:300
}

button {
    border-radius: 12px;
    padding: 10px 24px;
}

input {
    padding: 5px 24px;
}

#start {
    background-color: white;
    font-size: large;
}

#start:hover {
    background-color:royalblue;
    color: white;
}

#shade {
    background-color: white;
    font-size: large;
}

#shade:hover {
    background-color:lightslategray;
    color: black;
}

#container {
    border: 3px solid black;
    aspect-ratio: 1 / 1;
    width: 660px;
    display: flex;
    flex-wrap: wrap;
}

.gridbox {
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 1px solid black;
}

.active {
    background-color: black;
}

.shaded0 {
    background-color: black;
    opacity: 0.1;
}

.shaded1 {
    background-color: black;
    opacity: 0.2;
}

.shaded2 {
    background-color: black;
    opacity: 0.3;
}

.shaded3 {
    background-color: black;
    opacity: 0.4;
}

.shaded4 {
    background-color: black;
    opacity: 0.5;
}

.shaded5 {
    background-color: black;
    opacity: 0.6;
}

.shaded6 {
    background-color: black;
    opacity: 0.7;
}

.shaded7 {
    background-color: black;
    opacity: 0.8;
}

.shaded8 {
    background-color: black;
    opacity: 0.9;
}

.shaded9 {
    background-color: black;
    opacity: 1;
}